:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-gray:#333333;
    --basic-dim-gray:#666666;
    --basic-dirty-gray:#EEEEEE;
    --basic-dirty-white:#EBEBEB;
    --basic-deep-gray:#BDBBBC;
    --basic-light-gray:#888888;
    --basic-light-blue:#81B3D2;
    --basic-middle-blue:#669EC0;
    --basic-deep-blue:#5496BD;
    --basic-light-brown:#766357;
    --basic-middle-brown:#604E43;
    --basic-dark-brown:#503E33;
    --basic-special:#F2F2F2;
    --light-black:#E5E5E5;
    --special-ivory:#CACACA;
}
@font-face {
    font-family: "PTSans";
    src: local("PTSans"),
    url("PTSans.woff2") format("woff2"),
    url("PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
    font-family: "PTSans-Bold";
    src: local("PTSans-Bold"),
       url("PTSans-Bold.woff2") format("woff2"),
       url("PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PTSans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color:  #F2F2F2;;
    
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-body {
  min-height: 100%;
  display: grid;
  align-content: start;
} 

.page {
  height: 100%;
}

.main-header-logo {
 position: absolute;
}

.main-header {
  margin-bottom: 70px;
  
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
  
}



.site-navigation {
  display: flex;
  list-style: none;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
  color: var(--basic-light-brown);
}


.site-navigation a {
  color: var(--basic-black);
  display: block;
  padding: 15px 134px 15px 72px;
  white-space: nowrap;
}

.site-navigation a:hover {

  background-color: var(--basic-white);
  color: var(--basic-light-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

.background-view {
  position:relative;
  background: url(../img/background-photo.png) no-repeat;
  width: 100%;
  
}


.background-view::after {
  display: block;
  content: '';
  background: url('../img/Shape.svg');
  width: 100%;
  height: 56px;

}

.top {
  display: block;
  margin: 0 auto;
  padding-top: 78px;
}

.text-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding: 42.5px 365px 16.5px 365px;
}

.reasons {
  width: 519px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  padding: 0 341px 51px 340px;

}

.arguments {
  margin-top: 51px;
  margin-bottom: 80px;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.arguments-list  {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

}


.argument-item {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.element-1 {
  width: 400px;
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
}

.element-2 img {
  height: 100%;
}

.features-facts {
  list-style: none;
  display: flex;
  height: 325px;

}

.argument-item h2 {
  font-size: 21px;
  line-height: 21px;
}


.argument-item h3 {
  font-size: 21px;
  line-height: 21px;
}


.features {
  width: 33%;
  padding-top: 60px;
  padding-bottom: 82px;
  text-align: center;
}

.cause {
  background-color: var(--basic-dirty-gray);
}

.button {
  width: 458px;
  height: 58px;
  margin-top: 10px;
  margin-right: 0;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
  border: none;
}

.button:hover {
  background-color: var(--basic-middle-blue);
}

.button:active {
  background-color: var(--basic-deep-blue);
  cursor: default;
}

.contacts-phone {
  color: inherit;
}

.appointment-info {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
  margin-top: 5px;
  text-align: center;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.appointment-item {
  display: flex;
  white-space: nowrap;
  width: 346px;
  font-weight: 700;
  color: var(--basic-black);
  margin-top: 15px;
  margin-bottom: 9px;
  
}


.appointment-button {

  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  font-weight: 700;
  width: 568px;
  height: 36px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.appointment-button:hover {
  background-color: var(--basic-middle-brown);
}

.appointment-button:active {
  background-color: var(--basic-dark-brown);
}

.appointment h2 {
  text-align: center;
}

.appointment {
  align-items: center;
  width: 568px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.appointment .button {
  display: block;
 margin-left: 55px;
  margin-top: 54px;
  margin-right: 55px;
  margin-bottom: 55px;
}



.appointment-item input {
  width: 346px;
  font: inherit;
  color: var(--basic-black);
  background-color: var(--basic-special);
  font-weight: bold;
}

.appointment-item input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 2px solid #E5E5E5;;
}

.appointment-item:hover {
  background-color: var(--basic-dirty-white);
  color: var(--basic-black);
}

.main-footer {
  font-weight: 700;
  color: var(--basic-black);
  background-position: 0 0;
  background-repeat: repeat;
  
}

.main-footer .footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  padding-left: 111px;
  text-align: center;
}

.footer-contacts a {
  color: var(--basic-black);
  text-align: center;
}

.footer-social {
  width: 120px;
  justify-self: center;
  text-align: center;

}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  display: none;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  
  color: inherit;
  background-color: var(--basic-light-blue);
}

.social-button:hover {
  background-color: var(--basic-middle-blue);
}

.social-button:active {
  background-color: var(--basic-deep-blue);
}

.footer-copyright {
 
  font-weight: 400;
  padding-right: 138px;
}


.copyright-logo {
  color: inherit;
  background-color: var(--basic-white);
}

path:hover {
  fill:var(--basic-light-blue);
}

path:active {
  fill:var(--basic-deep-gray);
}

/* Catalog */




.filter legend {
 
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.filter ul {
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-white);
}

.found-title {
  font-size: 21px;
  line-height: 26px;
}

.found-list {
  font-size: 12px;
  line-height: 18px;
}



.option-list {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  
}

.option-items {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed #81B3D2;
}

.option-items:hover {
  color: var(--basic-light-blue);
}
.option-items:active {
  color: var(--basic-black);
  border-bottom: none;
  opacity: var(--basic-black);
}

.option-items-current {
  color: var(--basic-light-blue);
  border-bottom: none;
}

.cursor-up {
  color: var(--special-ivory);
}
.cursor-up:hover {
  color:var(--basic-black);
}

.cursor-up:active {
  color: var(--basic-light-blue);
}

.cursor-down {
  color: var(--basic-light-blue);
}

.cursor-down:hover {
  color:var(--basic-black);
}

.cursor-down:active {
  color: var(--basic-light-blue);
}


.catalog-list {
  list-style: none;
}

.catalog-item h3 {
  list-style: none;
  font-weight:700;
  font-size: 21px;
  line-height: 26px;
}

.catalog-item h3:hover {
color: var(--basic-light-blue);
}

.catalog-item h3:active {
  opacity: 0.3;
}

.button-more {
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.button-more:hover {
  background-color: var(--basic-middle-blue); 
}
.button-more:active {
  background-color: var(--basic-deep-blue);
  opacity: 0.3;
}

.button-reserved {
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.button-reserved:hover {
  background-color: var(--basic-middle-brown);
}
.button-reserved:active {
  background-color: var(--basic-dark-brown);
  opacity: 0.3;
}

.rating {
  color: var(--basic-dim-gray);
  background-color: var(--basic-special);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px; }